body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    

}

.container {
  padding: 5em; 
  margin: 0 auto; 
  background: white;
  line-height: 20px; 
}

.HeaderImg {
  border-radius: 20px;  
  width: 100%; 
  -webkit-box-shadow: 0px -1px 23px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 23px -12px rgba(0,0,0,0.75);
box-shadow: 0px -1px 23px -12px rgba(0,0,0,0.75);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.people {
  margin: 0 auto; 
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
  padding: 30px; 
}

.person {
  margin: 15px; 
  width: 300px; 
  box-sizing: border-box;
  padding: 30px;
  -webkit-box-shadow: inset -1px 82px 210px -29px rgba(145,199,226,1);
  -moz-box-shadow: inset -1px 82px 210px -29px rgba(145,199,226,1);
  box-shadow: inset -1px 82px 210px -29px rgba(145,199,226,1);
}

.person img {
  border: 10px solid #91c7e2;
  -webkit-box-shadow: 6px 6px 27px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 6px 27px -11px rgba(0,0,0,0.75);
box-shadow: 6px 6px 27px -11px rgba(0,0,0,0.75);
}

.person button {
border: 0;
    padding: 10px; 
    font-size: 15px;
background: #FAEDC3;
}


.field {
  padding: 10px; 
  border: 2px solid #E5C687; 
  width: 200px;
  text-align: center; 

}

.error {
  color: red; 
  text-decoration: bold; 
}

.theform {
  background: #FAEDC3; 
  padding: 30px; 
  -webkit-box-shadow: 0px -1px 23px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 23px -12px rgba(0,0,0,0.75);
box-shadow: 0px -1px 23px -12px rgba(0,0,0,0.75);
}

.theform .create {
  border: 0;
    padding: 10px; 
    font-size: 15px;
  background-color: #91c7e2;
}

.hellomessage {
  padding: 2px; 
}

.usermessage {
  color: red; 
}

button {
  border: 0;
  padding: 10px; 
  font-size: 15px;
background-color: #91c7e2;
}

.welcome {
  font-size: 30px; 
  padding: 50px; 
}

 .events {
   margin: 0 auto; 
 }