body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 46px;
  margin: 0 auto;
  background: white;
  line-height: 20px;
}

.events {
  text-align: center;
}

.HeaderImg {
  border-radius: 20px;
  width: 100%;
  -webkit-box-shadow: 0px -1px 23px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 23px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 23px -12px rgba(0, 0, 0, 0.75);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.person {
  margin: 10px;
  width: 300px;
  box-sizing: border-box;
  -webkit-box-shadow: inset -1px 82px 210px -29px rgba(145, 199, 226, 1);
  -moz-box-shadow: inset -1px 82px 210px -29px rgba(145, 199, 226, 1);
  box-shadow: inset -1px 82px 210px -29px rgba(145, 199, 226, 1);
}

@media only screen and (max-width: 400px) {
  .person {
    margin: 5px;
  }
}

.person img {
  border: 10px solid #91c7e2;
  -webkit-box-shadow: 6px 6px 27px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 27px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 27px -11px rgba(0, 0, 0, 0.75);
}

.person button {
  border: 0;
  padding: 10px;
  font-size: 15px;
  background: #faedc3;
}

.field {
  padding: 7px;
  border: 2px solid #e5c687;
  max-width: 570px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.error {
  color: red;
  text-decoration: bold;
}

.theform {
  background: #faedc3;
  padding: 30px;
  -webkit-box-shadow: 0px -1px 23px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 23px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 23px -12px rgba(0, 0, 0, 0.75);
}

.theform .create {
  border: 0;
  padding: 10px;
  font-size: 17px;
  background-color: #91c7e2;
  font-weight: bold;
}

.hellomessage {
  padding: 2px;
}

.usermessage {
  color: red;
}

button {
  border: 0;
  padding: 10px;
  font-size: 15px;
  background-color: #91c7e2;
  font-weight: bold;
}

.welcome {
  font-size: 30px;
  padding: 50px;
  line-height: 40px;
}

.yesorno {
  margin: 1px;
}

@media only screen and (max-width: 500px) {
  .people {
    margin: 0 auto;
  }
}
